.researchContainer {
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.heading {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 2rem;
}

.researchList {
    display: grid;
    grid-template-columns: 1fr; /* Single column layout for vertical display */
    gap: 1rem;
}

.researchBox {
    background-color: #f5f5f5;
    padding: 1rem;
    border-radius: 5px;
    text-align: center;
    transition: transform 0.3s;
}

.researchBox:hover {
    transform: scale(1.05);
}

.researchContent {
    padding: 1rem;
}

.researchTitle {
    font-size: 1.0rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.researchDescription {
    font-size: 0.8rem;
}

.readMoreContainer {
    text-align: center;
    margin-top: 2rem;
}

.readMoreButton {
    background-color: #09101a;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
    transition: background-color 0.3s;
    cursor: pointer;
}

.readMoreButton:hover {
    background-color: #333;
}

.form {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.input,
.textarea {
    margin-bottom: 1rem;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

.button {
    padding: 0.5rem;
    background-color: #09101a;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.editButton,
.deleteButton {
    margin-right: 0.5rem;
    padding: 0.5rem;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    color: white;
}

.editButton {
    background-color: #f0ad4e;
}

.deleteButton {
    background-color: #d9534f;
}
